@model EntregaSprint3.Models.Cliente

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/pais.css" />

<button class="button">
    Detalhes
</button>
<br>
<br>
<table class="table">
    <thead>
    <tr class="row">
        <th class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCliente)
        </th>
        <th class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCliente)
        </th>
        <th class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </th>
        <th class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </th>
        <th class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CpfCliente)
        </th>
        <th class = "col-sm-10">
            @Html.DisplayFor(model => model.CpfCliente)
        </th>
        <th class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnderecoCliente)
        </th>
        <th class = "col-sm-10">
            @Html.DisplayFor(model => model.EnderecoCliente)
        </th>
        <th class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroCasaCliente)
        </th>
        <th class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroCasaCliente)
        </th>
        <th class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BairroCliente)
        </th>
        <th class = "col-sm-10">
            @Html.DisplayFor(model => model.BairroCliente)
        </th>
        <th class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade.CidadeNome)
        </th>
        <th class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefoneCliente)
        </th>
        <th class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefoneCliente)
        </th>
    </tr>
    </thead>
    </table>
<div>
    <button class="buttonazul">
        <a class="adicionarp" asp-action="Edit" asp-route-id="@Model?.Id">Editar Cliente</a>
    </button>
    <button>
        <a class="adicionarp" asp-action="Index">Voltar</a>
    </button>
</div>